/{
	chargers {
        description = "Parameters for various charger ICs and the Google Charge Power Manager";

        charger_pca9468: pca9468 {
            compatible = "nxp,pca9468-charger";
            [cite_start]ftm-mode = <0>; [cite: 31]
            [cite_start]pps-index = <0>; [cite: 31]
            [cite_start]adc-chan = <4315000>; [cite: 31]
            [cite_start]ta-vol-max = <10500000>; [cite: 31]
            [cite_start]iin-cc-comp-offset = <25000>; [cite: 31]
            [cite_start]debug-level = <6>; [cite: 31]
        };

        p9221_charger: p9221 {
            compatible = "renesas,p9221-charger";
            [cite_start]de-ocp-ua = <1600000>; [cite: 31]
            [cite_start]de-rtx-api-limit-ma = <1350>; [cite: 31]
            [cite_start]needs-align-check = "Y"; [cite: 31]
            [cite_start]de-rtx-hw-ocp = "Y"; [cite: 31]
            [cite_start]no-fod = "N"; [cite: 31]
            [cite_start]trigger-dd = <400>; [cite: 31]
        };

        max77759_chg: max77759 {
            compatible = "maxim,max77759-charger";
            [cite_start]inlim-step = <50000>; [cite: 31]
            [cite_start]inlim-headroom = <40000>; [cite: 31]
            [cite_start]inlim-period = <5000>; [cite: 31]
            [cite_start]insel-clear = "N"; [cite: 31]
            [cite_start]insel-cnt = <2>; [cite: 31]
        };

        google_cpm: gcpm {
            compatible = "google,cpm";
            [cite_start]dc-cc-lim = <1000000>; [cite: 31]
            [cite_start]wlc-cc-lim = <2750000>; [cite: 31]
            [cite_start]taper-step-interval = <120>; [cite: 31]
            [cite_start]taper-step-grace = <1>; [cite: 31]
            [cite_start]dc-limit-soc-high = <100>; [cite: 31]
            [cite_start]dc-limit-demand = <560000>; [cite: 31]
        };
    };
};
