/{
	gbms_storage {
        compatible = "google,gbms-storage";
        description = "Google Battery Management System (GBMS) providers";

        [cite_start]providers = "0 bms-pack-eeprom:BGPN MINF DINF HIST BRID SNUM GMSR BCNT CNHS SELC CELC LOTR STRD ACIM GCFE RAVG RFCN THAS AYMD MYMD FGST FCRU", [cite: 28]
                    [cite_start]"1 maxfg:BLHI", [cite: 28]
                    [cite_start]"2 max77759_maxq:?", [cite: 28]
                    [cite_start]"3 battery:HCNT"; [cite: 29]
    };
};
