/{
	google_battery {
        compatible = "google,battery";
        description = "Battery-specific parameters";

        [cite_start]restrict-level-critical = <0>; [cite: 16]
        [cite_start]ravg-soc-high = <75>; [cite: 16]
        [cite_start]ravg-soc-low = <5>; [cite: 16]
        [cite_start]ravg-temp-high = <390>; [cite: 16]
        [cite_start]ravg-temp-low = <350>; [cite: 16]
        [cite_start]act-impedance = <55297>; [cite: 16]
        [cite_start]bhi-w-ci = <100>; [cite: 16]
        [cite_start]chg-health-rest-rate-before-trigger = <80>; [cite: 16]
        [cite_start]chg-health-rest-rate = <15>; [cite: 16]
        [cite_start]chg-health-thr-soc = <80>; [cite: 16]
        [cite_start]mp-max-ratio-limit = <70>; [cite: 15]
        [cite_start]mp-soc-limit-high = <80>; [cite: 15]
        [cite_start]mp-soc-limit-low = <50>; [cite: 15]
        [cite_start]fv-dc-ratio = <20>; [cite: 16]
        [cite_start]ssoc-uic = <1617887232>; [cite: 16]
        [cite_start]ssoc-uicurve = "[15.00 15.00][96.51 96.51][100.00 100.00]"; [cite: 16]

        /* Charge Profile Table (mA) vs. Temperature (C) and Voltage (V)
         * Format: <temp_start temp_end v4200 v4300 v4350 v4480> */
        [cite_start]charge-profile =  <0  10 2240 1350    0    0>, [cite: 27]
                          [cite_start]<10 20 3140 1350 1350 1350>, [cite: 27]
                          [cite_start]<20 42 5380 5380 5380 2240>, [cite: 27]
                          [cite_start]<42 46 4490 4490 4490 2240>, [cite: 27]
                          [cite_start]<46 48 2240 2240    0    0>, [cite: 27]
                          [cite_start]<48 55 1350    0    0    0>; [cite: 27]
    };
};
