/ {
	google_charger {
        compatible = "google,charger";
        description = "Core charging behaviors and parameters";

        [cite_start]bd-enabled = <1>; [cite: 30]
        [cite_start]bd-triggered = <0>; [cite: 30]
        [cite_start]pps-cc-tolerance = <5>; [cite: 30]
        [cite_start]usb-skip-probe = "N"; [cite: 30]
        [cite_start]update-interval = <0>; [cite: 30]
        [cite_start]chg-suspend = <0>; [cite: 30]
        [cite_start]input-suspend = <0>; [cite: 30]
        [cite_start]chg-mode = <0>; [cite: 30]
        };
}
