/{
	maxfg {
        compatible = "maxim,fuel-gauge";
        description = "Configuration for the Maxim Fuel Gauge component";

        [cite_start]disable-dynamic-filtercfg = "N"; [cite: 1]
        [cite_start]bhi-fcn-count = <3>; [cite: 1]
        [cite_start]bhi-recalibration-algo = <0>; [cite: 1]
        [cite_start]bhi-target-capacity = <0>; [cite: 1]
        [cite_start]model-version = <7>; [cite: 1]
        [cite_start]model-ok = "Y"; [cite: 1]

        registers {
            [cite_start]reg@d0 = <0x2c71>; [cite: 2]
            [cite_start]reg@dc = <0x0004>; [cite: 2]
            [cite_start]reg@dd = <0xffff>; [cite: 2]
            [cite_start]reg@de = <0x609b>; [cite: 2]
            [cite_start]reg@df = <0x0778>; [cite: 2]
            [cite_start]reg@eb = <0x0000>; [cite: 2]
            [cite_start]reg@fb = <0xda3e>; [cite: 2]
            [cite_start]reg@ff = <0x5fd4>; [cite: 2]
        };

        model_registers {
            [cite_start]reg@9d = <0x08f0>; [cite: 3]
            [cite_start]reg@9e = <0x02f0>; [cite: 3]
            [cite_start]reg@9f = <0x02f0>; [cite: 3]
        };

        fg_model {
            [cite_start]reg@9d = <0x08f0>; [cite: 3]
            [cite_start]reg@9e = <0x02f0>; [cite: 3]
            [cite_start]reg@9f = <0x02f0>; [cite: 3]
        };
    };
};
