FILE: ./acpm_dvfs_steep_jump
END_FILE
FILE: ./acpm_mbox_dvfs
END_FILE
FILE: ./dvfs_latency_stats
END_FILE
FILE: ./acpm_mbox_test
0x0000000000000000
END_FILE
FILE: ./slc_pldtrc_ctl
END_FILE
FILE: ./acpm_debug_cmd
END_FILE
FILE: ./logb_gprio_level
0x0000000000000000
END_FILE
FILE: ./uart_gprio_level
0xffffffffffffffff
END_FILE
FILE: ./retry_log_ctrl
00
END_FILE
FILE: ./log_level
00
END_FILE
FILE: ./ipc_loopback_test
29623
END_FILE
FILE: ./acpm_ipc_panic_action
1
END_FILE
