FILE: ./gpio4/ois@0-gpio4/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./gpio4/ois@0-gpio4/max_uV
0
END_FILE
FILE: ./gpio4/ois@0-gpio4/min_uV
0
END_FILE
FILE: ./gpio4/ois@0-gpio4/uA_load
0
END_FILE
FILE: ./gpio4/bypass_count
0
END_FILE
FILE: ./gpio4/open_count
1
END_FILE
FILE: ./gpio4/use_count
0
END_FILE
FILE: ./gpio3/bypass_count
0
END_FILE
FILE: ./gpio3/open_count
0
END_FILE
FILE: ./gpio3/use_count
0
END_FILE
FILE: ./gpio2/bypass_count
0
END_FILE
FILE: ./gpio2/open_count
0
END_FILE
FILE: ./gpio2/use_count
0
END_FILE
FILE: ./gpio1/bypass_count
0
END_FILE
FILE: ./gpio1/open_count
0
END_FILE
FILE: ./gpio1/use_count
0
END_FILE
FILE: ./ldo8/ois@0-ldo8/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./ldo8/ois@0-ldo8/max_uV
0
END_FILE
FILE: ./ldo8/ois@0-ldo8/min_uV
0
END_FILE
FILE: ./ldo8/ois@0-ldo8/uA_load
0
END_FILE
FILE: ./ldo8/actuator@1-ldo8/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./ldo8/actuator@1-ldo8/max_uV
0
END_FILE
FILE: ./ldo8/actuator@1-ldo8/min_uV
0
END_FILE
FILE: ./ldo8/actuator@1-ldo8/uA_load
0
END_FILE
FILE: ./ldo8/actuator@0-ldo8/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./ldo8/actuator@0-ldo8/max_uV
0
END_FILE
FILE: ./ldo8/actuator@0-ldo8/min_uV
0
END_FILE
FILE: ./ldo8/actuator@0-ldo8/uA_load
0
END_FILE
FILE: ./ldo8/eeprom@0-ldo8/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./ldo8/eeprom@0-ldo8/max_uV
0
END_FILE
FILE: ./ldo8/eeprom@0-ldo8/min_uV
0
END_FILE
FILE: ./ldo8/eeprom@0-ldo8/uA_load
0
END_FILE
FILE: ./ldo8/sensor@2-ldo8/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./ldo8/sensor@2-ldo8/max_uV
0
END_FILE
FILE: ./ldo8/sensor@2-ldo8/min_uV
0
END_FILE
FILE: ./ldo8/sensor@2-ldo8/uA_load
0
END_FILE
FILE: ./ldo8/sensor@1-ldo8/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./ldo8/sensor@1-ldo8/max_uV
0
END_FILE
FILE: ./ldo8/sensor@1-ldo8/min_uV
0
END_FILE
FILE: ./ldo8/sensor@1-ldo8/uA_load
0
END_FILE
FILE: ./ldo8/sensor@0-ldo8/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./ldo8/sensor@0-ldo8/max_uV
0
END_FILE
FILE: ./ldo8/sensor@0-ldo8/min_uV
0
END_FILE
FILE: ./ldo8/sensor@0-ldo8/uA_load
0
END_FILE
FILE: ./ldo8/bypass_count
0
END_FILE
FILE: ./ldo8/open_count
7
END_FILE
FILE: ./ldo8/use_count
0
END_FILE
FILE: ./ldo7/sensor@1-ldo7/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./ldo7/sensor@1-ldo7/max_uV
0
END_FILE
FILE: ./ldo7/sensor@1-ldo7/min_uV
0
END_FILE
FILE: ./ldo7/sensor@1-ldo7/uA_load
0
END_FILE
FILE: ./ldo7/bypass_count
0
END_FILE
FILE: ./ldo7/open_count
1
END_FILE
FILE: ./ldo7/use_count
0
END_FILE
FILE: ./ldo6/sensor@2-ldo6/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./ldo6/sensor@2-ldo6/max_uV
0
END_FILE
FILE: ./ldo6/sensor@2-ldo6/min_uV
0
END_FILE
FILE: ./ldo6/sensor@2-ldo6/uA_load
0
END_FILE
FILE: ./ldo6/bypass_count
0
END_FILE
FILE: ./ldo6/open_count
1
END_FILE
FILE: ./ldo6/use_count
0
END_FILE
FILE: ./ldo5/ois@0-ldo5/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./ldo5/ois@0-ldo5/max_uV
0
END_FILE
FILE: ./ldo5/ois@0-ldo5/min_uV
0
END_FILE
FILE: ./ldo5/ois@0-ldo5/uA_load
0
END_FILE
FILE: ./ldo5/eeprom@0-ldo5/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./ldo5/eeprom@0-ldo5/max_uV
0
END_FILE
FILE: ./ldo5/eeprom@0-ldo5/min_uV
0
END_FILE
FILE: ./ldo5/eeprom@0-ldo5/uA_load
0
END_FILE
FILE: ./ldo5/bypass_count
0
END_FILE
FILE: ./ldo5/open_count
2
END_FILE
FILE: ./ldo5/use_count
0
END_FILE
FILE: ./ldo4/actuator@1-ldo4/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./ldo4/actuator@1-ldo4/max_uV
0
END_FILE
FILE: ./ldo4/actuator@1-ldo4/min_uV
0
END_FILE
FILE: ./ldo4/actuator@1-ldo4/uA_load
0
END_FILE
FILE: ./ldo4/actuator@0-ldo4/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./ldo4/actuator@0-ldo4/max_uV
0
END_FILE
FILE: ./ldo4/actuator@0-ldo4/min_uV
0
END_FILE
FILE: ./ldo4/actuator@0-ldo4/uA_load
0
END_FILE
FILE: ./ldo4/sensor@2-ldo4/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./ldo4/sensor@2-ldo4/max_uV
0
END_FILE
FILE: ./ldo4/sensor@2-ldo4/min_uV
0
END_FILE
FILE: ./ldo4/sensor@2-ldo4/uA_load
0
END_FILE
FILE: ./ldo4/sensor@0-ldo4/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./ldo4/sensor@0-ldo4/max_uV
0
END_FILE
FILE: ./ldo4/sensor@0-ldo4/min_uV
0
END_FILE
FILE: ./ldo4/sensor@0-ldo4/uA_load
0
END_FILE
FILE: ./ldo4/bypass_count
0
END_FILE
FILE: ./ldo4/open_count
4
END_FILE
FILE: ./ldo4/use_count
0
END_FILE
FILE: ./ldo3/sensor@1-ldo3/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./ldo3/sensor@1-ldo3/max_uV
0
END_FILE
FILE: ./ldo3/sensor@1-ldo3/min_uV
0
END_FILE
FILE: ./ldo3/sensor@1-ldo3/uA_load
0
END_FILE
FILE: ./ldo3/bypass_count
0
END_FILE
FILE: ./ldo3/open_count
1
END_FILE
FILE: ./ldo3/use_count
0
END_FILE
FILE: ./ldo2/sensor@2-ldo2/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./ldo2/sensor@2-ldo2/max_uV
0
END_FILE
FILE: ./ldo2/sensor@2-ldo2/min_uV
0
END_FILE
FILE: ./ldo2/sensor@2-ldo2/uA_load
0
END_FILE
FILE: ./ldo2/bypass_count
0
END_FILE
FILE: ./ldo2/open_count
1
END_FILE
FILE: ./ldo2/use_count
0
END_FILE
FILE: ./ldo1/ois@0-ldo1/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./ldo1/ois@0-ldo1/max_uV
0
END_FILE
FILE: ./ldo1/ois@0-ldo1/min_uV
0
END_FILE
FILE: ./ldo1/ois@0-ldo1/uA_load
0
END_FILE
FILE: ./ldo1/actuator@1-ldo1/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./ldo1/actuator@1-ldo1/max_uV
0
END_FILE
FILE: ./ldo1/actuator@1-ldo1/min_uV
0
END_FILE
FILE: ./ldo1/actuator@1-ldo1/uA_load
0
END_FILE
FILE: ./ldo1/actuator@0-ldo1/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./ldo1/actuator@0-ldo1/max_uV
0
END_FILE
FILE: ./ldo1/actuator@0-ldo1/min_uV
0
END_FILE
FILE: ./ldo1/actuator@0-ldo1/uA_load
0
END_FILE
FILE: ./ldo1/eeprom@0-ldo1/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./ldo1/eeprom@0-ldo1/max_uV
0
END_FILE
FILE: ./ldo1/eeprom@0-ldo1/min_uV
0
END_FILE
FILE: ./ldo1/eeprom@0-ldo1/uA_load
0
END_FILE
FILE: ./ldo1/sensor@2-ldo1/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./ldo1/sensor@2-ldo1/max_uV
0
END_FILE
FILE: ./ldo1/sensor@2-ldo1/min_uV
0
END_FILE
FILE: ./ldo1/sensor@2-ldo1/uA_load
0
END_FILE
FILE: ./ldo1/sensor@1-ldo1/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./ldo1/sensor@1-ldo1/max_uV
0
END_FILE
FILE: ./ldo1/sensor@1-ldo1/min_uV
0
END_FILE
FILE: ./ldo1/sensor@1-ldo1/uA_load
0
END_FILE
FILE: ./ldo1/sensor@0-ldo1/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./ldo1/sensor@0-ldo1/max_uV
0
END_FILE
FILE: ./ldo1/sensor@0-ldo1/min_uV
0
END_FILE
FILE: ./ldo1/sensor@0-ldo1/uA_load
0
END_FILE
FILE: ./ldo1/bypass_count
0
END_FILE
FILE: ./ldo1/open_count
7
END_FILE
FILE: ./ldo1/use_count
0
END_FILE
FILE: ./S2MPG14_LDO25/spi20.0-vdd/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./S2MPG14_LDO25/spi20.0-vdd/max_uV
0
END_FILE
FILE: ./S2MPG14_LDO25/spi20.0-vdd/min_uV
0
END_FILE
FILE: ./S2MPG14_LDO25/spi20.0-vdd/uA_load
0
END_FILE
FILE: ./S2MPG14_LDO25/bypass_count
0
END_FILE
FILE: ./S2MPG14_LDO25/open_count
1
END_FILE
FILE: ./S2MPG14_LDO25/use_count
1
END_FILE
FILE: ./S2MPG14_LDO24/bypass_count
0
END_FILE
FILE: ./S2MPG14_LDO24/open_count
0
END_FILE
FILE: ./S2MPG14_LDO24/use_count
0
END_FILE
FILE: ./S2MPG14_LDO23/bypass_count
0
END_FILE
FILE: ./S2MPG14_LDO23/open_count
0
END_FILE
FILE: ./S2MPG14_LDO23/use_count
0
END_FILE
FILE: ./S2MPG14_LDO22/19440000.drmdsim.0-vddd/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./S2MPG14_LDO22/19440000.drmdsim.0-vddd/max_uV
1150000
END_FILE
FILE: ./S2MPG14_LDO22/19440000.drmdsim.0-vddd/min_uV
1150000
END_FILE
FILE: ./S2MPG14_LDO22/19440000.drmdsim.0-vddd/uA_load
0
END_FILE
FILE: ./S2MPG14_LDO22/bypass_count
0
END_FILE
FILE: ./S2MPG14_LDO22/open_count
1
END_FILE
FILE: ./S2MPG14_LDO22/use_count
0
END_FILE
FILE: ./S2MPG14_LDO21/bypass_count
0
END_FILE
FILE: ./S2MPG14_LDO21/open_count
0
END_FILE
FILE: ./S2MPG14_LDO21/use_count
1
END_FILE
FILE: ./S2MPG14_LDO20/bypass_count
0
END_FILE
FILE: ./S2MPG14_LDO20/open_count
0
END_FILE
FILE: ./S2MPG14_LDO20/use_count
1
END_FILE
FILE: ./S2MPG14_LDO19/11-003e-vdd33/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./S2MPG14_LDO19/11-003e-vdd33/max_uV
0
END_FILE
FILE: ./S2MPG14_LDO19/11-003e-vdd33/min_uV
0
END_FILE
FILE: ./S2MPG14_LDO19/11-003e-vdd33/uA_load
0
END_FILE
FILE: ./S2MPG14_LDO19/11-0025-pullup/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./S2MPG14_LDO19/11-0025-pullup/max_uV
0
END_FILE
FILE: ./S2MPG14_LDO19/11-0025-pullup/min_uV
0
END_FILE
FILE: ./S2MPG14_LDO19/11-0025-pullup/uA_load
0
END_FILE
FILE: ./S2MPG14_LDO19/sub-pd-hsi0-vdd33/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./S2MPG14_LDO19/sub-pd-hsi0-vdd33/max_uV
0
END_FILE
FILE: ./S2MPG14_LDO19/sub-pd-hsi0-vdd33/min_uV
0
END_FILE
FILE: ./S2MPG14_LDO19/sub-pd-hsi0-vdd33/uA_load
0
END_FILE
FILE: ./S2MPG14_LDO19/bypass_count
0
END_FILE
FILE: ./S2MPG14_LDO19/open_count
3
END_FILE
FILE: ./S2MPG14_LDO19/use_count
1
END_FILE
FILE: ./S2MPG14_LDO18/bypass_count
0
END_FILE
FILE: ./S2MPG14_LDO18/open_count
0
END_FILE
FILE: ./S2MPG14_LDO18/use_count
1
END_FILE
FILE: ./S2MPG14_LDO17/bypass_count
0
END_FILE
FILE: ./S2MPG14_LDO17/open_count
0
END_FILE
FILE: ./S2MPG14_LDO17/use_count
1
END_FILE
FILE: ./S2MPG14_LDO16/bypass_count
0
END_FILE
FILE: ./S2MPG14_LDO16/open_count
0
END_FILE
FILE: ./S2MPG14_LDO16/use_count
1
END_FILE
FILE: ./S2MPG14_LDO15/bypass_count
0
END_FILE
FILE: ./S2MPG14_LDO15/open_count
0
END_FILE
FILE: ./S2MPG14_LDO15/use_count
0
END_FILE
FILE: ./S2MPG14_LDO14/19440000.drmdsim.0-vci/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./S2MPG14_LDO14/19440000.drmdsim.0-vci/max_uV
0
END_FILE
FILE: ./S2MPG14_LDO14/19440000.drmdsim.0-vci/min_uV
0
END_FILE
FILE: ./S2MPG14_LDO14/19440000.drmdsim.0-vci/uA_load
0
END_FILE
FILE: ./S2MPG14_LDO14/bypass_count
0
END_FILE
FILE: ./S2MPG14_LDO14/open_count
1
END_FILE
FILE: ./S2MPG14_LDO14/use_count
0
END_FILE
FILE: ./S2MPG14_LDO13/bypass_count
0
END_FILE
FILE: ./S2MPG14_LDO13/open_count
0
END_FILE
FILE: ./S2MPG14_LDO13/use_count
1
END_FILE
FILE: ./S2MPG14_LDO12/bypass_count
0
END_FILE
FILE: ./S2MPG14_LDO12/open_count
0
END_FILE
FILE: ./S2MPG14_LDO12/use_count
0
END_FILE
FILE: ./S2MPG14_LDO11/bypass_count
0
END_FILE
FILE: ./S2MPG14_LDO11/open_count
0
END_FILE
FILE: ./S2MPG14_LDO11/use_count
1
END_FILE
FILE: ./S2MPG14_LDO10/bypass_count
0
END_FILE
FILE: ./S2MPG14_LDO10/open_count
0
END_FILE
FILE: ./S2MPG14_LDO10/use_count
1
END_FILE
FILE: ./S2MPG14_LDO9/sub-pd-hsi0-vdd12/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./S2MPG14_LDO9/sub-pd-hsi0-vdd12/max_uV
0
END_FILE
FILE: ./S2MPG14_LDO9/sub-pd-hsi0-vdd12/min_uV
0
END_FILE
FILE: ./S2MPG14_LDO9/sub-pd-hsi0-vdd12/uA_load
0
END_FILE
FILE: ./S2MPG14_LDO9/bypass_count
0
END_FILE
FILE: ./S2MPG14_LDO9/open_count
1
END_FILE
FILE: ./S2MPG14_LDO9/use_count
1
END_FILE
FILE: ./S2MPG14_LDO8/sub-pd-hsi0-vdd075/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./S2MPG14_LDO8/sub-pd-hsi0-vdd075/max_uV
0
END_FILE
FILE: ./S2MPG14_LDO8/sub-pd-hsi0-vdd075/min_uV
0
END_FILE
FILE: ./S2MPG14_LDO8/sub-pd-hsi0-vdd075/uA_load
0
END_FILE
FILE: ./S2MPG14_LDO8/bypass_count
0
END_FILE
FILE: ./S2MPG14_LDO8/open_count
1
END_FILE
FILE: ./S2MPG14_LDO8/use_count
1
END_FILE
FILE: ./S2MPG14_LDO7/bypass_count
0
END_FILE
FILE: ./S2MPG14_LDO7/open_count
0
END_FILE
FILE: ./S2MPG14_LDO7/use_count
0
END_FILE
FILE: ./S2MPG14_LDO6/bypass_count
0
END_FILE
FILE: ./S2MPG14_LDO6/open_count
0
END_FILE
FILE: ./S2MPG14_LDO6/use_count
1
END_FILE
FILE: ./S2MPG14_LDO5/bypass_count
0
END_FILE
FILE: ./S2MPG14_LDO5/open_count
0
END_FILE
FILE: ./S2MPG14_LDO5/use_count
1
END_FILE
FILE: ./S2MPG14_LDO4/spi20.0-avdd/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./S2MPG14_LDO4/spi20.0-avdd/max_uV
0
END_FILE
FILE: ./S2MPG14_LDO4/spi20.0-avdd/min_uV
0
END_FILE
FILE: ./S2MPG14_LDO4/spi20.0-avdd/uA_load
0
END_FILE
FILE: ./S2MPG14_LDO4/bypass_count
0
END_FILE
FILE: ./S2MPG14_LDO4/open_count
1
END_FILE
FILE: ./S2MPG14_LDO4/use_count
1
END_FILE
FILE: ./S2MPG14_LDO3/bypass_count
0
END_FILE
FILE: ./S2MPG14_LDO3/open_count
0
END_FILE
FILE: ./S2MPG14_LDO3/use_count
1
END_FILE
FILE: ./S2MPG14_LDO2/bypass_count
0
END_FILE
FILE: ./S2MPG14_LDO2/open_count
0
END_FILE
FILE: ./S2MPG14_LDO2/use_count
1
END_FILE
FILE: ./S2MPG14_LDO1/bypass_count
0
END_FILE
FILE: ./S2MPG14_LDO1/open_count
0
END_FILE
FILE: ./S2MPG14_LDO1/use_count
1
END_FILE
FILE: ./S2MPG14_BUCK9/bypass_count
0
END_FILE
FILE: ./S2MPG14_BUCK9/open_count
0
END_FILE
FILE: ./S2MPG14_BUCK9/use_count
1
END_FILE
FILE: ./S2MPG14_BUCK8/bypass_count
0
END_FILE
FILE: ./S2MPG14_BUCK8/open_count
0
END_FILE
FILE: ./S2MPG14_BUCK8/use_count
1
END_FILE
FILE: ./S2MPG14_BUCK7/bypass_count
0
END_FILE
FILE: ./S2MPG14_BUCK7/open_count
0
END_FILE
FILE: ./S2MPG14_BUCK7/use_count
1
END_FILE
FILE: ./S2MPG14_BUCK6/bypass_count
0
END_FILE
FILE: ./S2MPG14_BUCK6/open_count
0
END_FILE
FILE: ./S2MPG14_BUCK6/use_count
1
END_FILE
FILE: ./S2MPG14_BUCK5/bypass_count
0
END_FILE
FILE: ./S2MPG14_BUCK5/open_count
0
END_FILE
FILE: ./S2MPG14_BUCK5/use_count
1
END_FILE
FILE: ./S2MPG14_BUCK4/bypass_count
0
END_FILE
FILE: ./S2MPG14_BUCK4/open_count
0
END_FILE
FILE: ./S2MPG14_BUCK4/use_count
1
END_FILE
FILE: ./S2MPG14_BUCK3/bypass_count
0
END_FILE
FILE: ./S2MPG14_BUCK3/open_count
0
END_FILE
FILE: ./S2MPG14_BUCK3/use_count
1
END_FILE
FILE: ./S2MPG14_BUCK2/bypass_count
0
END_FILE
FILE: ./S2MPG14_BUCK2/open_count
0
END_FILE
FILE: ./S2MPG14_BUCK2/use_count
1
END_FILE
FILE: ./S2MPG14_BUCK1/bypass_count
0
END_FILE
FILE: ./S2MPG14_BUCK1/open_count
0
END_FILE
FILE: ./S2MPG14_BUCK1/use_count
1
END_FILE
FILE: ./S2MPG15_LDO29/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO29/open_count
0
END_FILE
FILE: ./S2MPG15_LDO29/use_count
0
END_FILE
FILE: ./S2MPG15_LDO28/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO28/open_count
0
END_FILE
FILE: ./S2MPG15_LDO28/use_count
0
END_FILE
FILE: ./S2MPG15_LDO27/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO27/open_count
0
END_FILE
FILE: ./S2MPG15_LDO27/use_count
0
END_FILE
FILE: ./S2MPG15_LDO26/1-0029-pwren/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./S2MPG15_LDO26/1-0029-pwren/max_uV
0
END_FILE
FILE: ./S2MPG15_LDO26/1-0029-pwren/min_uV
0
END_FILE
FILE: ./S2MPG15_LDO26/1-0029-pwren/uA_load
0
END_FILE
FILE: ./S2MPG15_LDO26/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO26/open_count
1
END_FILE
FILE: ./S2MPG15_LDO26/use_count
0
END_FILE
FILE: ./S2MPG15_LDO25/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO25/open_count
0
END_FILE
FILE: ./S2MPG15_LDO25/use_count
0
END_FILE
FILE: ./S2MPG15_LDO24/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO24/open_count
0
END_FILE
FILE: ./S2MPG15_LDO24/use_count
1
END_FILE
FILE: ./S2MPG15_LDO23/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO23/open_count
0
END_FILE
FILE: ./S2MPG15_LDO23/use_count
0
END_FILE
FILE: ./S2MPG15_LDO22/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO22/open_count
0
END_FILE
FILE: ./S2MPG15_LDO22/use_count
0
END_FILE
FILE: ./S2MPG15_LDO21/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO21/open_count
0
END_FILE
FILE: ./S2MPG15_LDO21/use_count
1
END_FILE
FILE: ./S2MPG15_LDO20/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO20/open_count
0
END_FILE
FILE: ./S2MPG15_LDO20/use_count
1
END_FILE
FILE: ./S2MPG15_LDO19/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO19/open_count
0
END_FILE
FILE: ./S2MPG15_LDO19/use_count
1
END_FILE
FILE: ./S2MPG15_LDO18/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO18/open_count
0
END_FILE
FILE: ./S2MPG15_LDO18/use_count
0
END_FILE
FILE: ./S2MPG15_LDO17/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO17/open_count
0
END_FILE
FILE: ./S2MPG15_LDO17/use_count
0
END_FILE
FILE: ./S2MPG15_LDO16/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO16/open_count
0
END_FILE
FILE: ./S2MPG15_LDO16/use_count
0
END_FILE
FILE: ./S2MPG15_LDO15/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO15/open_count
0
END_FILE
FILE: ./S2MPG15_LDO15/use_count
1
END_FILE
FILE: ./S2MPG15_LDO14/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO14/open_count
0
END_FILE
FILE: ./S2MPG15_LDO14/use_count
0
END_FILE
FILE: ./S2MPG15_LDO13/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO13/open_count
0
END_FILE
FILE: ./S2MPG15_LDO13/use_count
0
END_FILE
FILE: ./S2MPG15_LDO12/ois@0-s2mpg15_ldo12/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./S2MPG15_LDO12/ois@0-s2mpg15_ldo12/max_uV
0
END_FILE
FILE: ./S2MPG15_LDO12/ois@0-s2mpg15_ldo12/min_uV
0
END_FILE
FILE: ./S2MPG15_LDO12/ois@0-s2mpg15_ldo12/uA_load
0
END_FILE
FILE: ./S2MPG15_LDO12/actuator@1-s2mpg15_ldo12/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./S2MPG15_LDO12/actuator@1-s2mpg15_ldo12/max_uV
0
END_FILE
FILE: ./S2MPG15_LDO12/actuator@1-s2mpg15_ldo12/min_uV
0
END_FILE
FILE: ./S2MPG15_LDO12/actuator@1-s2mpg15_ldo12/uA_load
0
END_FILE
FILE: ./S2MPG15_LDO12/actuator@0-s2mpg15_ldo12/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./S2MPG15_LDO12/actuator@0-s2mpg15_ldo12/max_uV
0
END_FILE
FILE: ./S2MPG15_LDO12/actuator@0-s2mpg15_ldo12/min_uV
0
END_FILE
FILE: ./S2MPG15_LDO12/actuator@0-s2mpg15_ldo12/uA_load
0
END_FILE
FILE: ./S2MPG15_LDO12/eeprom@2-s2mpg15_ldo12/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./S2MPG15_LDO12/eeprom@2-s2mpg15_ldo12/max_uV
0
END_FILE
FILE: ./S2MPG15_LDO12/eeprom@2-s2mpg15_ldo12/min_uV
0
END_FILE
FILE: ./S2MPG15_LDO12/eeprom@2-s2mpg15_ldo12/uA_load
0
END_FILE
FILE: ./S2MPG15_LDO12/eeprom@1-s2mpg15_ldo12/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./S2MPG15_LDO12/eeprom@1-s2mpg15_ldo12/max_uV
0
END_FILE
FILE: ./S2MPG15_LDO12/eeprom@1-s2mpg15_ldo12/min_uV
0
END_FILE
FILE: ./S2MPG15_LDO12/eeprom@1-s2mpg15_ldo12/uA_load
0
END_FILE
FILE: ./S2MPG15_LDO12/eeprom@0-s2mpg15_ldo12/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./S2MPG15_LDO12/eeprom@0-s2mpg15_ldo12/max_uV
0
END_FILE
FILE: ./S2MPG15_LDO12/eeprom@0-s2mpg15_ldo12/min_uV
0
END_FILE
FILE: ./S2MPG15_LDO12/eeprom@0-s2mpg15_ldo12/uA_load
0
END_FILE
FILE: ./S2MPG15_LDO12/sensor@2-s2mpg15_ldo12/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./S2MPG15_LDO12/sensor@2-s2mpg15_ldo12/max_uV
0
END_FILE
FILE: ./S2MPG15_LDO12/sensor@2-s2mpg15_ldo12/min_uV
0
END_FILE
FILE: ./S2MPG15_LDO12/sensor@2-s2mpg15_ldo12/uA_load
0
END_FILE
FILE: ./S2MPG15_LDO12/sensor@1-s2mpg15_ldo12/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./S2MPG15_LDO12/sensor@1-s2mpg15_ldo12/max_uV
0
END_FILE
FILE: ./S2MPG15_LDO12/sensor@1-s2mpg15_ldo12/min_uV
0
END_FILE
FILE: ./S2MPG15_LDO12/sensor@1-s2mpg15_ldo12/uA_load
0
END_FILE
FILE: ./S2MPG15_LDO12/sensor@0-s2mpg15_ldo12/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./S2MPG15_LDO12/sensor@0-s2mpg15_ldo12/max_uV
0
END_FILE
FILE: ./S2MPG15_LDO12/sensor@0-s2mpg15_ldo12/min_uV
0
END_FILE
FILE: ./S2MPG15_LDO12/sensor@0-s2mpg15_ldo12/uA_load
0
END_FILE
FILE: ./S2MPG15_LDO12/1-0029-vio/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./S2MPG15_LDO12/1-0029-vio/max_uV
1850000
END_FILE
FILE: ./S2MPG15_LDO12/1-0029-vio/min_uV
1850000
END_FILE
FILE: ./S2MPG15_LDO12/1-0029-vio/uA_load
0
END_FILE
FILE: ./S2MPG15_LDO12/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO12/open_count
10
END_FILE
FILE: ./S2MPG15_LDO12/use_count
0
END_FILE
FILE: ./S2MPG15_LDO11/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO11/open_count
0
END_FILE
FILE: ./S2MPG15_LDO11/use_count
1
END_FILE
FILE: ./S2MPG15_LDO10/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO10/open_count
0
END_FILE
FILE: ./S2MPG15_LDO10/use_count
1
END_FILE
FILE: ./S2MPG15_LDO9/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO9/open_count
0
END_FILE
FILE: ./S2MPG15_LDO9/use_count
1
END_FILE
FILE: ./S2MPG15_LDO8/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO8/open_count
0
END_FILE
FILE: ./S2MPG15_LDO8/use_count
0
END_FILE
FILE: ./S2MPG15_LDO7/17000000.aoc-sensor_1v8/constraint_flags
always_on: 0
boot_on: 1
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./S2MPG15_LDO7/17000000.aoc-sensor_1v8/max_uV
0
END_FILE
FILE: ./S2MPG15_LDO7/17000000.aoc-sensor_1v8/min_uV
0
END_FILE
FILE: ./S2MPG15_LDO7/17000000.aoc-sensor_1v8/uA_load
0
END_FILE
FILE: ./S2MPG15_LDO7/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO7/open_count
1
END_FILE
FILE: ./S2MPG15_LDO7/use_count
1
END_FILE
FILE: ./S2MPG15_LDO6/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO6/open_count
0
END_FILE
FILE: ./S2MPG15_LDO6/use_count
0
END_FILE
FILE: ./S2MPG15_LDO5/17000000.aoc-sensor_3v3/constraint_flags
always_on: 0
boot_on: 1
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./S2MPG15_LDO5/17000000.aoc-sensor_3v3/max_uV
0
END_FILE
FILE: ./S2MPG15_LDO5/17000000.aoc-sensor_3v3/min_uV
0
END_FILE
FILE: ./S2MPG15_LDO5/17000000.aoc-sensor_3v3/uA_load
0
END_FILE
FILE: ./S2MPG15_LDO5/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO5/open_count
1
END_FILE
FILE: ./S2MPG15_LDO5/use_count
1
END_FILE
FILE: ./S2MPG15_LDO4/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO4/open_count
0
END_FILE
FILE: ./S2MPG15_LDO4/use_count
0
END_FILE
FILE: ./S2MPG15_LDO3/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO3/open_count
0
END_FILE
FILE: ./S2MPG15_LDO3/use_count
1
END_FILE
FILE: ./S2MPG15_LDO2/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO2/open_count
0
END_FILE
FILE: ./S2MPG15_LDO2/use_count
1
END_FILE
FILE: ./S2MPG15_LDO1/bypass_count
0
END_FILE
FILE: ./S2MPG15_LDO1/open_count
0
END_FILE
FILE: ./S2MPG15_LDO1/use_count
1
END_FILE
FILE: ./S2MPG15_BUCKBOOST/bypass_count
0
END_FILE
FILE: ./S2MPG15_BUCKBOOST/open_count
0
END_FILE
FILE: ./S2MPG15_BUCKBOOST/use_count
1
END_FILE
FILE: ./S2MPG15_BUCKC/bypass_count
0
END_FILE
FILE: ./S2MPG15_BUCKC/open_count
0
END_FILE
FILE: ./S2MPG15_BUCKC/use_count
1
END_FILE
FILE: ./S2MPG15_BUCKA/spi19.1-VA/constraint_flags
always_on: 1
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./S2MPG15_BUCKA/spi19.1-VA/max_uV
0
END_FILE
FILE: ./S2MPG15_BUCKA/spi19.1-VA/min_uV
0
END_FILE
FILE: ./S2MPG15_BUCKA/spi19.1-VA/uA_load
0
END_FILE
FILE: ./S2MPG15_BUCKA/spi19.0-VA/constraint_flags
always_on: 1
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./S2MPG15_BUCKA/spi19.0-VA/max_uV
0
END_FILE
FILE: ./S2MPG15_BUCKA/spi19.0-VA/min_uV
0
END_FILE
FILE: ./S2MPG15_BUCKA/spi19.0-VA/uA_load
0
END_FILE
FILE: ./S2MPG15_BUCKA/19440000.drmdsim.0-vddi/constraint_flags
always_on: 1
boot_on: 0
apply_uV: 1
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./S2MPG15_BUCKA/19440000.drmdsim.0-vddi/max_uV
0
END_FILE
FILE: ./S2MPG15_BUCKA/19440000.drmdsim.0-vddi/min_uV
0
END_FILE
FILE: ./S2MPG15_BUCKA/19440000.drmdsim.0-vddi/uA_load
0
END_FILE
FILE: ./S2MPG15_BUCKA/bypass_count
0
END_FILE
FILE: ./S2MPG15_BUCKA/open_count
3
END_FILE
FILE: ./S2MPG15_BUCKA/use_count
3
END_FILE
FILE: ./S2MPG15_BUCKD/bypass_count
0
END_FILE
FILE: ./S2MPG15_BUCKD/open_count
0
END_FILE
FILE: ./S2MPG15_BUCKD/use_count
1
END_FILE
FILE: ./S2MPG15_BUCK12/bypass_count
0
END_FILE
FILE: ./S2MPG15_BUCK12/open_count
0
END_FILE
FILE: ./S2MPG15_BUCK12/use_count
1
END_FILE
FILE: ./S2MPG15_BUCK11/bypass_count
0
END_FILE
FILE: ./S2MPG15_BUCK11/open_count
0
END_FILE
FILE: ./S2MPG15_BUCK11/use_count
1
END_FILE
FILE: ./S2MPG15_BUCK10/bypass_count
0
END_FILE
FILE: ./S2MPG15_BUCK10/open_count
0
END_FILE
FILE: ./S2MPG15_BUCK10/use_count
1
END_FILE
FILE: ./S2MPG15_BUCK9/bypass_count
0
END_FILE
FILE: ./S2MPG15_BUCK9/open_count
0
END_FILE
FILE: ./S2MPG15_BUCK9/use_count
1
END_FILE
FILE: ./S2MPG15_BUCK8/bypass_count
0
END_FILE
FILE: ./S2MPG15_BUCK8/open_count
0
END_FILE
FILE: ./S2MPG15_BUCK8/use_count
1
END_FILE
FILE: ./S2MPG15_BUCK7/bypass_count
0
END_FILE
FILE: ./S2MPG15_BUCK7/open_count
0
END_FILE
FILE: ./S2MPG15_BUCK7/use_count
1
END_FILE
FILE: ./S2MPG15_BUCK6/bypass_count
0
END_FILE
FILE: ./S2MPG15_BUCK6/open_count
0
END_FILE
FILE: ./S2MPG15_BUCK6/use_count
1
END_FILE
FILE: ./S2MPG15_BUCK5/bypass_count
0
END_FILE
FILE: ./S2MPG15_BUCK5/open_count
0
END_FILE
FILE: ./S2MPG15_BUCK5/use_count
1
END_FILE
FILE: ./S2MPG15_BUCK4/bypass_count
0
END_FILE
FILE: ./S2MPG15_BUCK4/open_count
0
END_FILE
FILE: ./S2MPG15_BUCK4/use_count
1
END_FILE
FILE: ./S2MPG15_BUCK3/bypass_count
0
END_FILE
FILE: ./S2MPG15_BUCK3/open_count
0
END_FILE
FILE: ./S2MPG15_BUCK3/use_count
1
END_FILE
FILE: ./S2MPG15_BUCK2/bypass_count
0
END_FILE
FILE: ./S2MPG15_BUCK2/open_count
0
END_FILE
FILE: ./S2MPG15_BUCK2/use_count
1
END_FILE
FILE: ./S2MPG15_BUCK1/bypass_count
0
END_FILE
FILE: ./S2MPG15_BUCK1/open_count
0
END_FILE
FILE: ./S2MPG15_BUCK1/use_count
1
END_FILE
FILE: ./ufs-vcc/13200000.ufs-vcc/constraint_flags
always_on: 0
boot_on: 0
apply_uV: 0
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./ufs-vcc/13200000.ufs-vcc/max_uV
0
END_FILE
FILE: ./ufs-vcc/13200000.ufs-vcc/min_uV
0
END_FILE
FILE: ./ufs-vcc/13200000.ufs-vcc/uA_load
0
END_FILE
FILE: ./ufs-vcc/bypass_count
0
END_FILE
FILE: ./ufs-vcc/open_count
1
END_FILE
FILE: ./ufs-vcc/use_count
1
END_FILE
FILE: ./V_SYS_DUMMY/spi19.1-VP/constraint_flags
always_on: 1
boot_on: 1
apply_uV: 0
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./V_SYS_DUMMY/spi19.1-VP/max_uV
0
END_FILE
FILE: ./V_SYS_DUMMY/spi19.1-VP/min_uV
0
END_FILE
FILE: ./V_SYS_DUMMY/spi19.1-VP/uA_load
0
END_FILE
FILE: ./V_SYS_DUMMY/spi19.0-VP/constraint_flags
always_on: 1
boot_on: 1
apply_uV: 0
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./V_SYS_DUMMY/spi19.0-VP/max_uV
0
END_FILE
FILE: ./V_SYS_DUMMY/spi19.0-VP/min_uV
0
END_FILE
FILE: ./V_SYS_DUMMY/spi19.0-VP/uA_load
0
END_FILE
FILE: ./V_SYS_DUMMY/bypass_count
0
END_FILE
FILE: ./V_SYS_DUMMY/open_count
2
END_FILE
FILE: ./V_SYS_DUMMY/use_count
3
END_FILE
FILE: ./reg-dummy-regulator-dummy/0-0043-VA/constraint_flags
always_on: 1
boot_on: 0
apply_uV: 0
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./reg-dummy-regulator-dummy/0-0043-VA/max_uV
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/0-0043-VA/min_uV
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/0-0043-VA/uA_load
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/0-0043-VP/constraint_flags
always_on: 1
boot_on: 0
apply_uV: 0
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./reg-dummy-regulator-dummy/0-0043-VP/max_uV
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/0-0043-VP/min_uV
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/0-0043-VP/uA_load
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.89-SUPPLY/constraint_flags
always_on: 1
boot_on: 0
apply_uV: 0
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.89-SUPPLY/max_uV
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.89-SUPPLY/min_uV
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.89-SUPPLY/uA_load
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.88-SUPPLY/constraint_flags
always_on: 1
boot_on: 0
apply_uV: 0
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.88-SUPPLY/max_uV
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.88-SUPPLY/min_uV
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.88-SUPPLY/uA_load
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.87-SUPPLY/constraint_flags
always_on: 1
boot_on: 0
apply_uV: 0
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.87-SUPPLY/max_uV
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.87-SUPPLY/min_uV
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.87-SUPPLY/uA_load
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.86-SUPPLY/constraint_flags
always_on: 1
boot_on: 0
apply_uV: 0
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.86-SUPPLY/max_uV
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.86-SUPPLY/min_uV
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.86-SUPPLY/uA_load
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.85-SUPPLY/constraint_flags
always_on: 1
boot_on: 0
apply_uV: 0
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.85-SUPPLY/max_uV
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.85-SUPPLY/min_uV
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.85-SUPPLY/uA_load
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.84-SUPPLY/constraint_flags
always_on: 1
boot_on: 0
apply_uV: 0
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.84-SUPPLY/max_uV
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.84-SUPPLY/min_uV
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.84-SUPPLY/uA_load
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.83-SUPPLY/constraint_flags
always_on: 1
boot_on: 0
apply_uV: 0
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.83-SUPPLY/max_uV
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.83-SUPPLY/min_uV
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.83-SUPPLY/uA_load
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.82-SUPPLY/constraint_flags
always_on: 1
boot_on: 0
apply_uV: 0
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.82-SUPPLY/max_uV
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.82-SUPPLY/min_uV
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/regulator.82-SUPPLY/uA_load
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/9-0050-vcc/constraint_flags
always_on: 1
boot_on: 0
apply_uV: 0
ramp_disable: 0
soft_start: 0
pull_down: 0
over_current_protection: 0
END_FILE
FILE: ./reg-dummy-regulator-dummy/9-0050-vcc/max_uV
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/9-0050-vcc/min_uV
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/9-0050-vcc/uA_load
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/bypass_count
0
END_FILE
FILE: ./reg-dummy-regulator-dummy/open_count
11
END_FILE
FILE: ./reg-dummy-regulator-dummy/use_count
3
END_FILE
FILE: ./regulator_summary
 regulator                      use open bypass  opmode voltage current     min     max
---------------------------------------------------------------------------------------
 regulator-dummy                  4   11      0 unknown     0mV     0mA     0mV     0mV 
    0-0043-VA                     1                                 0mA     0mV     0mV
    0-0043-VP                     1                                 0mA     0mV     0mV
    9-0050-vcc                    1                                 0mA     0mV     0mV
    ldo1                          0    7      0 unknown  2250mV     0mA  2250mV  2250mV 
       ois@0-ldo1                 0                                 0mA     0mV     0mV
       actuator@1-ldo1            0                                 0mA     0mV     0mV
       actuator@0-ldo1            0                                 0mA     0mV     0mV
       eeprom@0-ldo1              0                                 0mA     0mV     0mV
       sensor@2-ldo1              0                                 0mA     0mV     0mV
       sensor@1-ldo1              0                                 0mA     0mV     0mV
       sensor@0-ldo1              0                                 0mA     0mV     0mV
    ldo2                          0    1      0 unknown  2800mV     0mA  2800mV  2800mV 
       sensor@2-ldo2              0                                 0mA     0mV     0mV
    ldo3                          0    1      0 unknown  3000mV     0mA  3000mV  3000mV 
       sensor@1-ldo3              0                                 0mA     0mV     0mV
    ldo4                          0    4      0 unknown  2950mV     0mA  2950mV  2950mV 
       actuator@1-ldo4            0                                 0mA     0mV     0mV
       actuator@0-ldo4            0                                 0mA     0mV     0mV
       sensor@2-ldo4              0                                 0mA     0mV     0mV
       sensor@0-ldo4              0                                 0mA     0mV     0mV
    ldo5                          0    2      0 unknown  2900mV     0mA  2900mV  2900mV 
       ois@0-ldo5                 0                                 0mA     0mV     0mV
       eeprom@0-ldo5              0                                 0mA     0mV     0mV
    ldo6                          0    1      0 unknown  1100mV     0mA  1100mV  1100mV 
       sensor@2-ldo6              0                                 0mA     0mV     0mV
    ldo7                          0    1      0 unknown  1100mV     0mA  1100mV  1100mV 
       sensor@1-ldo7              0                                 0mA     0mV     0mV
    ldo8                          0    7      0 unknown   970mV     0mA   970mV   970mV 
       ois@0-ldo8                 0                                 0mA     0mV     0mV
       actuator@1-ldo8            0                                 0mA     0mV     0mV
       actuator@0-ldo8            0                                 0mA     0mV     0mV
       eeprom@0-ldo8              0                                 0mA     0mV     0mV
       sensor@2-ldo8              0                                 0mA     0mV     0mV
       sensor@1-ldo8              0                                 0mA     0mV     0mV
       sensor@0-ldo8              0                                 0mA     0mV     0mV
 V_SYS_DUMMY                      3    2      0 unknown  4200mV     0mA  4200mV  4200mV 
    spi19.1-VP                    1                                 0mA     0mV     0mV
    spi19.0-VP                    1                                 0mA     0mV     0mV
 ufs-vcc                          1    1      0 unknown     0mV     0mA     0mV     0mV 
    13200000.ufs-vcc              1                                 0mA     0mV     0mV
 S2MPG15_BUCK1                    1    0      0 unknown   512mV     0mA   450mV  1300mV 
 S2MPG15_BUCK2                    1    0      0 unknown   537mV     0mA   450mV  1300mV 
 S2MPG15_BUCK3                    1    0      0 unknown  1031mV     0mA   450mV  1300mV 
 S2MPG15_BUCK4                    1    0      0 unknown  1050mV     0mA   450mV  1300mV 
 S2MPG15_BUCK5                    1    0      0 unknown   425mV     0mA   300mV  1300mV 
 S2MPG15_BUCK6                    1    0      0 unknown  1337mV     0mA  1000mV  1500mV 
 S2MPG15_BUCK7                    1    0      0 unknown  2100mV     0mA  1500mV  2200mV 
 S2MPG15_BUCK8                    1    0      0 unknown   662mV     0mA   450mV  1300mV 
 S2MPG15_BUCK9                    1    0      0 unknown   556mV     0mA   450mV  1300mV 
 S2MPG15_BUCK10                   1    0      0 unknown   750mV     0mA   450mV  1300mV 
 S2MPG15_BUCK11                   1    0      0 unknown   750mV     0mA   450mV  1300mV 
 S2MPG15_BUCK12                   1    0      0 unknown   518mV     0mA   450mV  1300mV 
 S2MPG15_BUCKD                    1    0      0 unknown  2500mV     0mA  2400mV  3300mV 
 S2MPG15_BUCKA                    3    3      0 unknown  1850mV     0mA  1700mV  2100mV 
    spi19.1-VA                    1                                 0mA     0mV     0mV
    spi19.0-VA                    1                                 0mA     0mV     0mV
    19440000.drmdsim.0-vddi       0                                 0mA     0mV     0mV
 S2MPG15_BUCKC                    1    0      0 unknown  1200mV     0mA   450mV  1350mV 
 S2MPG15_BUCKBOOST                1    0      0 unknown  3550mV     0mA  3000mV  3600mV 
 S2MPG15_LDO1                     1    0      0 unknown   750mV     0mA   700mV  1300mV 
 S2MPG15_LDO2                     1    0      0 unknown   850mV     0mA   700mV  1087mV 
 S2MPG15_LDO3                     1    0      0 unknown   850mV     0mA   725mV  1300mV 
 S2MPG15_LDO4                     0    0      0 unknown  1800mV     0mA  1600mV  1950mV 
 S2MPG15_LDO5                     1    1      0 unknown  3300mV     0mA  2500mV  3300mV 
    17000000.aoc-sensor_3v3       1                                 0mA     0mV     0mV
 S2MPG15_LDO6                     0    0      0 unknown  2700mV     0mA  2500mV  3300mV 
 S2MPG15_LDO7                     1    1      0 unknown  1800mV     0mA  1600mV  1950mV 
    17000000.aoc-sensor_1v8       1                                 0mA     0mV     0mV
 S2MPG15_LDO8                     0    0      0 unknown  3000mV     0mA  2500mV  3300mV 
 S2MPG15_LDO9                     1    0      0 unknown  1200mV     0mA   725mV  1300mV 
 S2MPG15_LDO10                    1    0      0 unknown  1800mV     0mA  1600mV  1950mV 
 S2MPG15_LDO11                    1    0      0 unknown  1800mV     0mA  1600mV  1950mV 
 S2MPG15_LDO12                    0   10      0 unknown  1850mV     0mA  1850mV  1850mV 
    ois@0-s2mpg15_ldo12           0                                 0mA     0mV     0mV
    actuator@1-s2mpg15_ldo12      0                                 0mA     0mV     0mV
    actuator@0-s2mpg15_ldo12      0                                 0mA     0mV     0mV
    eeprom@2-s2mpg15_ldo12        0                                 0mA     0mV     0mV
    eeprom@1-s2mpg15_ldo12        0                                 0mA     0mV     0mV
    eeprom@0-s2mpg15_ldo12        0                                 0mA     0mV     0mV
    sensor@2-s2mpg15_ldo12        0                                 0mA     0mV     0mV
    sensor@1-s2mpg15_ldo12        0                                 0mA     0mV     0mV
    sensor@0-s2mpg15_ldo12        0                                 0mA     0mV     0mV
    1-0029-vio                    0                                 0mA  1850mV  1850mV
 S2MPG15_LDO13                    0    0      0 unknown  1800mV     0mA  1600mV  1950mV 
 S2MPG15_LDO14                    0    0      0 unknown  1800mV     0mA  1600mV  1950mV 
 S2MPG15_LDO15                    1    0      0 unknown  3300mV     0mA  3300mV  3300mV 
 S2MPG15_LDO16                    0    0      0 unknown  3000mV     0mA  2500mV  3300mV 
 S2MPG15_LDO17                    0    0      0 unknown  1800mV     0mA  1600mV  2275mV 
 S2MPG15_LDO18                    0    0      0 unknown  3300mV     0mA  2500mV  3300mV 
 S2MPG15_LDO19                    1    0      0 unknown  1800mV     0mA  1600mV  1950mV 
 S2MPG15_LDO20                    1    0      0 unknown  1800mV     0mA  1600mV  1950mV 
 S2MPG15_LDO21                    1    0      0 unknown   900mV     0mA   725mV  1300mV 
 S2MPG15_LDO22                    0    0      0 unknown  1800mV     0mA  1600mV  1950mV 
 S2MPG15_LDO23                    0    0      0 unknown  1200mV     0mA   700mV  1300mV 
 S2MPG15_LDO24                    1    0      0 unknown  1200mV     0mA   725mV  1300mV 
 S2MPG15_LDO25                    0    0      0 unknown  3300mV     0mA  2500mV  3300mV 
 S2MPG15_LDO26                    0    1      0 unknown  3300mV     0mA  3300mV  3300mV 
    1-0029-pwren                  0                                 0mA     0mV     0mV
 S2MPG15_LDO27                    0    0      0 unknown  1800mV     0mA  1600mV  1950mV 
 S2MPG15_LDO28                    0    0      0 unknown  3300mV     0mA  2500mV  3300mV 
 S2MPG15_LDO29                    0    0      0 unknown  1800mV     0mA  1600mV  1950mV 
 S2MPG14_BUCK1                    1    0      0 unknown   625mV     0mA   450mV  1300mV 
 S2MPG14_BUCK2                    1    0      0 unknown   606mV     0mA   450mV  1300mV 
 S2MPG14_BUCK3                    1    0      0 unknown   725mV     0mA   450mV  1300mV 
 S2MPG14_BUCK4                    1    0      0 unknown   700mV     0mA   450mV  1300mV 
 S2MPG14_BUCK5                    1    0      0 unknown   587mV     0mA   450mV  1300mV 
 S2MPG14_BUCK6                    1    0      0 unknown  1337mV     0mA   450mV  1500mV 
 S2MPG14_BUCK7                    1    0      0 unknown   512mV     0mA   450mV  1300mV 
 S2MPG14_BUCK8                    1    0      0 unknown   881mV     0mA   450mV  1300mV 
 S2MPG14_BUCK9                    1    0      0 unknown   750mV     0mA   450mV  1300mV 
 S2MPG14_LDO1                     1    0      0 unknown   750mV     0mA   450mV   950mV 
 S2MPG14_LDO2                     1    0      0 unknown  1800mV     0mA  1600mV  1950mV 
 S2MPG14_LDO3                     1    0      0 unknown   750mV     0mA   450mV   950mV 
 S2MPG14_LDO4                     1    1      0 unknown  3300mV     0mA  3300mV  3300mV 
    spi20.0-avdd                  1                                 0mA     0mV     0mV
 S2MPG14_LDO5                     1    0      0 unknown  1800mV     0mA  1600mV  1950mV 
 S2MPG14_LDO6                     1    0      0 unknown  1200mV     0mA   725mV  1300mV 
 S2MPG14_LDO7                     0    0      0 unknown  3300mV     0mA  1800mV  3350mV 
 S2MPG14_LDO8                     1    1      0 unknown   750mV     0mA   450mV   950mV 
    sub-pd-hsi0-vdd075            1                                 0mA     0mV     0mV
 S2MPG14_LDO9                     1    1      0 unknown  1200mV     0mA   725mV  1300mV 
    sub-pd-hsi0-vdd12             1                                 0mA     0mV     0mV
 S2MPG14_LDO10                    1    0      0 unknown  1200mV     0mA   725mV  1300mV 
 S2MPG14_LDO11                    1    0      0 unknown   750mV     0mA   700mV  1300mV 
 S2MPG14_LDO12                    0    0      0 unknown   750mV     0mA   700mV  1300mV 
 S2MPG14_LDO13                    1    0      0 unknown   750mV     0mA   450mV   950mV 
 S2MPG14_LDO14                    0    1      0 unknown  3025mV     0mA  2500mV  3300mV 
    19440000.drmdsim.0-vci        0                                 0mA     0mV     0mV
 S2MPG14_LDO15                    0    0      0 unknown   750mV     0mA   450mV   950mV 
 S2MPG14_LDO16                    1    0      0 unknown   850mV     0mA   725mV  1300mV 
 S2MPG14_LDO17                    1    0      0 unknown   750mV     0mA   700mV  1300mV 
 S2MPG14_LDO18                    1    0      0 unknown  1200mV     0mA   725mV  1300mV 
 S2MPG14_LDO19                    1    3      0 unknown  3300mV     0mA  2500mV  3300mV 
    11-003e-vdd33                 0                                 0mA     0mV     0mV
    11-0025-pullup                0                                 0mA     0mV     0mV
    sub-pd-hsi0-vdd33             1                                 0mA     0mV     0mV
 S2MPG14_LDO20                    1    0      0 unknown  1800mV     0mA  1600mV  1950mV 
 S2MPG14_LDO21                    1    0      0 unknown  3300mV     0mA  2500mV  3300mV 
 S2MPG14_LDO22                    0    1      0 unknown  1150mV     0mA   725mV  1300mV 
    19440000.drmdsim.0-vddd       0                                 0mA  1150mV  1150mV
 S2MPG14_LDO23                    0    0      0 unknown  1800mV     0mA  1600mV  1950mV 
 S2MPG14_LDO24                    0    0      0 unknown  1800mV     0mA  1600mV  1950mV 
 S2MPG14_LDO25                    1    1      0 unknown  1800mV     0mA  1800mV  1800mV 
    spi20.0-vdd                   1                                 0mA     0mV     0mV
 gpio1                            0    0      0 unknown   970mV     0mA   500mV  1400mV 
 gpio2                            0    0      0 unknown   970mV     0mA   500mV  1400mV 
 gpio3                            0    0      0 unknown   970mV     0mA   500mV  1400mV 
 gpio4                            0    1      0 unknown   970mV     0mA   500mV  1400mV 
    ois@0-gpio4                   0                                 0mA     0mV     0mV
END_FILE
FILE: ./supply_map
END_FILE
