FILE: ./map
     X    0        1        2    
Y P D+--------+--------+--------+
0    | XP #0  | XP #1  | XP #2  |
     | DTC 0  | DTC 0  | DTC 0  |
     |........|........|........|
  0  |RN-F_E_E|RN-F_E_E|RN-F_E_E|
    0|   #0   |        |        |
    1|        |        |        |
  1  |  RN-D  |  RN-D  |  HN-I  |
    0|   #0   |   #1   |   #1   |
    1|        |        |        |
  2  |  MTSX  |  MTSX  |  HN-D  |
    0|   #0   |   #2   |   #0   |
    1|   #1   |   #3   |        |
  3  |  HN-F  |  HN-F  |        |
    0|   #0   |   #2   |        |
    1|   #1   |   #3   |        |
-----+--------+--------+--------+
END_FILE
